@model IEnumerable<KnifeStore.Models.Product>

@{
    ViewBag.Title = "PreviousDeals";
}

<p>@ViewBag.Message</p>

<h2>PreviousDeals</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            
            @if (!ViewBag.RequestedIds.Contains(item.Id))
            {
                @Html.ActionLink("Request", "Request", new { id = item.Id })
            }
            else
            {
                @Html.ActionLink("Cancel Request", "Unrequest", new { id = item.Id })     
            }

        </td>
    </tr>
}

</table>
